<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="API Testing Suite">
    <test name="APIRestAssuredTest" >
        <classes>
            <class name="test.APIv2Tests.Pet_PositiveTest" />
            <class name="test.APIv2Tests.Pet_NegativeTest" />
        </classes>
    </test>
</suite>
